spring:
  application:
    name: api-gateway

  config:
    import: optional:configserver:http://config-server:8888

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:9011/eureka
